#card {
    width: 1000px;
    padding: 10px;
}
#cardDiv
{
    text-align: left;
}
.world
{
    margin-top: 10px;
    background-color: rgb(169 177 215);
}
.articleBtn
{
    margin-top: 5px;
    margin-bottom: 5px;
}