<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b69f7bb5-336e-48c2-8b8f-06bccd21f285/resourceGroups/Coven/providers/Microsoft.Web/sites/coven</ResourceId>
    <ResourceGroup>Coven</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://coven.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7c455ca6-f2b1-4c67-a16d-d8223f610304</ProjectGuid>
    <PublishUrl>https://coven.scm.azurewebsites.net/</PublishUrl>
    <UserName>$coven</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>