<div id="container">
    <div id="actionDiv">
        <button class="actionBtn" mat-raised-button (click)="getUser()">Get User World Information</button>
    </div>

    <div id="authorInfoDiv">
        <div class="infobox" *ngIf="author">
            <app-author [author]="author"></app-author>
        </div>
    
        <div class="infobox" *ngIf="summary">
            <app-summary [summary]="summary" (worldClickedEmitter)="getWorldArticleSummary($event)"></app-summary>
        </div>
    </div>

    <div id="articleInfoDiv">
        <div class="infobox">
            <mat-card *ngIf="worldArticleSummary" id="card">
                <mat-card-title>World Articles</mat-card-title>
                <mat-card-content>
                  <mat-spinner *ngIf="loadingWorldSummary"></mat-spinner>
                  <app-article-list *ngIf="!loadingWorldSummary"
                    [worldId]="worldArticleSummary.world.id"
                    [articles]="worldArticleSummary.articles" 
                    (articleClickedEmitter)="getSelectedArticle($event)"></app-article-list>
                </mat-card-content>
            </mat-card>
        </div>
    
        <div *ngIf="author && worldArticleSummary" class="infobox">
            <app-article [selectedArticle]="selectedArticle" [articleLoaded]="selectedArticle != undefined && selectedArticle != null"></app-article>
        </div>
    </div>
</div> 