<div id="container">
    <div id="actionDiv">
        <button class="actionBtn" mat-raised-button (click)="getUser()">Get user</button>
        <button class="actionBtn" mat-raised-button (click)="getWorld()" [disabled]="!author">Get world</button>
    </div>
    <div id="resultDiv">
        <div class="infobox" *ngIf="author">
            <app-author [author]="author"></app-author>
        </div>
        <div class="infobox" *ngIf="summary">
            <app-summary [summary]="summary"></app-summary>
        </div>
    </div>
</div>